extends ../layout

block variables
  -var title = '发帖'

block content
  .navbar.navbar-default.navbar-fixed-bottom
    .container(style='max-width:600px;')
      button#sendbtn.btn.btn-primary.navbar-btn.pull-right(onclick='submitForm()') 发送
      button.btn.btn-default.navbar-btn(onclick='javascript:window.history.go(-1);return false;') 返回

  //- .navbar-padding
  .container(style='max-width:600px;')
    .center-block
      form#topicform(action='/topic/create', method='post')
        input(type='hidden', name='gid', value=gid);
        textarea#inputText(name='txt', placeholder='输入内容')
      script.
        function submitForm() {
          u.submitJsonForm('#topicform', '#sendbtn', function(err, reply) {
            console.log(reply);
            if(reply.err) {
              alert(reply.err);
            } else {
              //- location.href = document.referrer || '/';
              location.href = '/topic/' + reply.id + '/step-2';
            }
          });
        }
        function onresize() {
          var h = u.getWindowSize().h - 45;
          console.log(h);
          u.q('#inputText').style.height = h + 'px';
        }
        onresize();
        window.addEventListener('resize', onresize);


