extends ../layout

block variables
  -var title = '发帖'

block content
  .navbar.navbar-default.navbar-fixed-bottom
    .container(style='max-width:600px;')
      button#sendbtn.btn.btn-primary.navbar-btn.pull-right(onclick='submitForm()') 发送
      button.btn.btn-default.navbar-btn(onclick='javascript:window.history.go(-1);return false;') 返回

  //- .navbar-padding
  .container(style='max-width:600px;')
    .center-block
      h3 发帖
      form#topicform(action='/topic/create', method='post')
        textarea#inputText(name='txt', placeholder='输入内容')
        .form-group
          label(for='InputKeyword') 关键字
          input#InputKeyword.form-control(name='keywords', type='text')
        if(gid)
          input(type='hidden', name='gid', value=gid);
        else
          .form-group
            label(for='InputGroup') 发布到群组
            select#InputGroup(name='gid').form-control
              if joinedGroups.length == 0
                option(value='', selected) 无
              each group in joinedGroups
                option(value=group.id, selected=group.id==gid)= group.name
      .bottom-padding
      script.
        var _formstep = 0;
        function submitForm() {
            var txt = u.q('#inputText').value;
            if(txt.trim().length < 5) return alertError('未达到质量要求');
            u.submitJsonForm('#topicform', '#sendbtn', function(err, reply) {
              console.log(reply);
              if(reply.err) {
                alert(reply.err);
                localStorage.operationState = 'fail';
                u.set('lastop', {
                  err: 1
                  , action: 'createTopic'
                  , message: '发帖失败'
                })
              } else {
                localStorage.operationState = 'success';
                localStorage.reply = JSON.stringify(reply);
                u.set('lastop', {
                    err: 0
                  , action: 'createTopic'
                  , message: '发帖成功'
                  , topic: reply
                })
              }
              //- history.go(-1);
              if(reply.gid) {
                location.href = '/g/' + reply.gid;
              } else {
                location.href = '/';
              }
            });
        }
        function onresize() {
          var h = u.getWindowSize().h;
          h  -= h > 300 ? 180 : 45;
          u.q('#inputText').style.height = h + 'px';
        }
        onresize();
        window.addEventListener('resize', onresize);
