extends ../layout

block variables
  -var title = '发帖'

block content
  .navbar.navbar-default.navbar-fixed-bottom
    .container(style='max-width:600px;')
      button#sendbtn.btn.btn-primary.navbar-btn.pull-right(onclick='submitForm()') 发送
      button.btn.btn-default.navbar-btn(onclick='javascript:window.history.go(-2);return false;') 返回

  //- .navbar-padding
  .container(style='max-width:600px;')
    .center-block
      form#topicform(action='/topic/step-2', method='post')
        input#InputTid(type='hidden', name='tid', value=topic.id);
        .form-group
          label(for='InputGroup') 发布到群组
          select#InputGroup(name='gid').form-control
            option(value='', selected) 无
            each group in joinedGroups
              option(value=group.id)= group.name
        .form-group
          label(for='InputKeyword') 关键字
          input#InputKeyword.form-control(name='keywords', type='text')
        //- button.btn.btn-primary.btn-block(type='submit') 确定
      script.
        localStorage.operationState = 'success';
        function submitForm() {
          //- u.q('#topicform').submit();
          u.submitJsonForm('#topicform', '#sendbtn', function(err, reply) {
            if(reply.err) {
              alert(reply.err);
              localStorage.operationState = 'fail';
            } else {
              localStorage.operationState = 'success';
              localStorage.topicId = u.q('#InputTid').value;
            }
            history.go(-2);
          });
        }
        window.onpopstate = function(e) {
          console.log(e);
          console.log('onpopstate');
        }
