extends withsidebar

block fixed-buttons
  .btn-group
    button#btn-refresh.btn.btn-float
      span.glyphicon.glyphicon-refresh
    a#btn-newpost.btn.btn-default.btn-float(href='/topic/create')
      span.glyphicon.glyphicon-plus

block main
  //- form(style='padding:5px 10px;')
  //-   .input-group
  //-     input.form-control
  //-     span.input-group-btn
  //-       button.btn.btn-default 搜索

  if homeGroups.length == 0
    p 为您推荐以下社团
    - for(var i = 0; i < 10; i ++)
      p
        a(href='/g/foo') 某某群
        a.btn.btn-default.btn-sm(href='/g/foo/join') 加入
    p 你也可以创建自己的社团
    a.btn.btn-default(type='button', href="/group/create") 创建社团+
  each _group in homeGroups
    -var group = _group[0]
    -var topics = _group[1]
    .list-group
      a.list-group-item(href='/g/#{group.id}').group-name
        h5.list-group-item-heading= group.name
      if topics.length
        each topic in topics
          a.list-group-item(href='/t/#{topic.id}')
            p.list-group-item-text= topic.txt
      else
        a.list-group-item(href="")
          p.list-group-item-text 无

