extends layout

block content
  //- TODO see bootstrap "default navbar" for collapse in mobile
  //- header.navbar.navbar-default.navbar-fixed-top
  //- maybe should at bootom
  //-   a.navbar-brand(href='#') 城邦

  .mb-show
    button#btn-shownav.btn.btn-float
      #btn-shownav-icon.glyphicon.glyphicon-th-list
    .right-button-group.btn-group
      button#btn-refresh.btn.btn-float
        span.glyphicon.glyphicon-refresh
      button#btn-newpost.btn.btn-float
        span.glyphicon.glyphicon-plus
  //- .container.shownav
  .container
    .sidenav-cover
    .row
      .main-column.col-md-8
        //- .line-gap
        // main content
        a.btn.btn-primary.pull-right.mb-hide(href='/topic/create') +新建贴子
        //- ul.nav.nav-pills
        //-   li.active
        //-     a(href='#')
        //-       span.badge.pull-right 42
        //-       所有
        //-   li
        //-     a(href='#') 发现
        //-   if user
        //-     each group in user.groups
        //-       li
        //-         a(href='#')= group.name

        //- textarea#logger(style='width:100%', rows='5')

        // posts
        .post-cell
          p test test
          p test test
          p test test
          p test test
          p test test
          p test test
        .reply-cell
          p  comment
          p  comment
          p  comment
          p  comment
        .post-cell
          p test test
          p test test
          p test test
          p test test
          p test test
          p test test
        .reply-cell
          p  comment
          p  comment
          p  comment
          p  comment
        .post-cell
          p test test
          p test test
          p test test
          p test test
          p test test
          p test test
        .reply-cell
          p  comment
          p  comment
          p  comment
          p  comment
      .sidenav.col-md-4
        // side content
        .sidepanel
          form(action='/group/enter', method='get')
            .input-group
              input.form-control(name='groupname')
              .input-group-btn
                button.btn.btn-primary(type='submit') 进入社团
        .sidepanel
          //- a.btn.btn-primary.btn-lg.btn-block(type='button', href="#", disabled=true) 创建自由城邦
          //- .text-center.text-muted 建设中...
          if !user || user.groups.length == 0
            a.btn.btn-primary.btn-lg.btn-block(type='button', href="/group/create", disabled=!hasLogin) 创建社团
            if !user
              .text-center.text-muted 请先登录
          else
            a.pull-right(type='button', href="/group/create", disabled=!hasLogin) 创建社团
            h4 我的群组
            each group, index in user.ownedGroups
              p
                a.pull-right(href='#') [管理]
                a(href='#')= group.name
        if user
          .sidepanel
            a(href='#')= user.nickname
            | &nbsp;&nbsp;&nbsp;&nbsp;
            a(href='/signout') 登出
        else
          //- not login
          .sidepanel
            a.btn.pull-right.sns-login.sns-login-qq(href='/oauth/auth/qqconn?next=/oauth/account_callback') QQ登录
            a.btn.sns-login.sns-login-sina(href='/oauth/auth/sina?next=/oauth/account_callback') 微博登录
          .sidepanel
            form#signInForm(action='/signin', method='post')
              .form-group
                label.sr-only(for='InputEmail') 帐号
                input#InputEmail.form-control(name='email', type='email', placeholder='邮箱/手机号/用户名')
              .form-group
                label.sr-only(for='InputPassword') 密码
                input#InputPassword.form-control(name='password', type='password', placeholder='密码')
              .checkbox
                label
                  input(name='rememberme', type='checkbox', checked=true)
                  | 自动登录 - 
                  a(href='') 忘记密码
              button#signInButton.btn.btn-success.btn-half(type='submit') 登录
            script.
              u.jsonForm('#signInForm', '#signInButton', function(err, reply, xhr) {
                  if(reply.code == 'success') {
                    location = location.href;
                  } else {
                    alert('用户名或密码错误');
                  }
              });

          .sidepanel
            h4 新来到城邦？
              span.text-muted 注册
            hr
            form(action='/signup', method='post')
              .form-group
                label.sr-only(for='InputNickname') 昵称
                input#InputNickname.form-control(type='text', placeholder='昵称', name='nickname')
              .form-group
                label.sr-only(for='InputEmail') 帐号
                input#InputEmail.form-control(type='email', placeholder='邮箱', name='email')
              .form-group
                label.sr-only(for='InputPassword') 密码
                input#InputPassword.form-control(type='password', placeholder='密码', name='password')
              button.btn.btn-warning.btn-half(type='submit') 注册
          //- end not login

        .sidepanel
          p side side
          p side side
          p side side
          p side side
          p side side
