extend layout
block variables
  -var title = '欢迎'
  -var bodyClass = 'page-welcome'
block content
  .text-center
    h2 Hello World
    p 现在注册5位字符最短用户id。
  .mb-bottom
    .login-panel.fixw-sm.center-block
        a.btn.btn-default.btn-block(href='/signup') 快速注册
        a.btn.btn-default.btn-block(href='/signin') 帐号登录
        a.btn.btn-weibo.btn-block(href='#') 微博登录
        a.btn.btn-qq.btn-block(href='#') QQ登录
