.line-gap {
  margin: 15px;
}
.callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.btn-qq {
  color: #ffffff;
  background-color: #0d6bca;
  border-color: #0a5ab0;
}
.btn-qq:hover,
.btn-qq:focus,
.btn-qq:active,
.btn-qq.active,
.open .dropdown-toggle.btn-qq {
  color: #ffffff;
  background-color: #0b57a4;
  border-color: #073c76;
}
.btn-qq:active,
.btn-qq.active,
.open .dropdown-toggle.btn-qq {
  background-image: none;
}
.btn-qq.disabled,
.btn-qq[disabled],
fieldset[disabled] .btn-qq,
.btn-qq.disabled:hover,
.btn-qq[disabled]:hover,
fieldset[disabled] .btn-qq:hover,
.btn-qq.disabled:focus,
.btn-qq[disabled]:focus,
fieldset[disabled] .btn-qq:focus,
.btn-qq.disabled:active,
.btn-qq[disabled]:active,
fieldset[disabled] .btn-qq:active,
.btn-qq.disabled.active,
.btn-qq[disabled].active,
fieldset[disabled] .btn-qq.active {
  background-color: #0d6bca;
  border-color: #0a5ab0;
}
.btn-qq .badge {
  color: #0d6bca;
  background-color: #fff;
}
.btn-weibo {
  color: #ffffff;
  background-color: #e24642;
  border-color: #d23632;
}
.btn-weibo:hover,
.btn-weibo:focus,
.btn-weibo:active,
.btn-weibo.active,
.open .dropdown-toggle.btn-weibo {
  color: #ffffff;
  background-color: #da2621;
  border-color: #a32724;
}
.btn-weibo:active,
.btn-weibo.active,
.open .dropdown-toggle.btn-weibo {
  background-image: none;
}
.btn-weibo.disabled,
.btn-weibo[disabled],
fieldset[disabled] .btn-weibo,
.btn-weibo.disabled:hover,
.btn-weibo[disabled]:hover,
fieldset[disabled] .btn-weibo:hover,
.btn-weibo.disabled:focus,
.btn-weibo[disabled]:focus,
fieldset[disabled] .btn-weibo:focus,
.btn-weibo.disabled:active,
.btn-weibo[disabled]:active,
fieldset[disabled] .btn-weibo:active,
.btn-weibo.disabled.active,
.btn-weibo[disabled].active,
fieldset[disabled] .btn-weibo.active {
  background-color: #e24642;
  border-color: #d23632;
}
.btn-weibo .badge {
  color: #e24642;
  background-color: #fff;
}
.groupsuffix-addon {
  padding: 0 16px;
}
.groupsuffix-select {
  font-size: 16px;
  border: none;
}
.post-cell {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}
.reply-cell {
  margin-top: -16px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 0 0 4px 4px;
}
.sidepanel {
  margin: 12px 0;
  padding: 10px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.sidepanel h2,
.sidepanel h3,
.sidepanel h4,
.sidepanel h5,
.sidepanel h6 {
  margin-top: 0px;
}
.btn-half {
  width: 50%;
  margin-left: 25%;
}
.less-half {
  width: 47%;
}
body {
  background-color: #fefefe;
}
.container {
  background-color: white;
}
.navbar {
  min-height: 44px;
}
.navbar-padding {
  margin-top: 45px;
}
.navbar-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
button:focus,
button:click {
  outline: none;
}
#topicform textarea {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
  width: 100%;
  height: 300px;
}
.page-welcome,
.page-welcome .container {
  background-color: #6699ff;
}
.login-panel {
  padding: 15px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.btn-float {
  display: block;
  padding: 5px 8px;
  opacity: 0.7;
  border: 1px solid #888;
  background-color: #ddd;
}
.mb-show {
  display: none;
}
.mb-hide {
  display: block;
}
.sidenav-cover {
  display: none;
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.side-control {
  margin-bottom: 20px;
}
.alert-container {
  position: fixed;
  z-index: 9999;
  top: 10px;
  left: 50%;
  background: transparent;
}
a.group-name {
  background-color: #ccddee;
}
@media screen and (max-width: 800px) {
  .container {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .container .row {
    margin: 0px;
    padding: 0px;
  }
  .container .row .main-column {
    margin: 0px;
    padding: 5px;
  }
  .center-block {
    padding: 0 10px;
  }
  .sidenav {
    display: none;
    z-index: 10002;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 400px;
    width: 75%;
    background-color: #333;
    overflow: scroll;
  }
  .mb-show {
    display: block;
  }
  .mb-hide {
    display: none;
  }
  #btn-shownav {
    z-index: 10005;
    position: fixed;
    left: 10px;
    bottom: 10px;
  }
  .right-button-group {
    z-index: 10001;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
  }
  .right-button-group #btn-refresh {
    display: inline-block;
  }
  .right-button-group #btn-newpost {
    display: inline-block;
  }
  .shownav {
    overflow: hidden;
  }
  .shownav .sidenav {
    display: block;
  }
  .shownav .sidenav-cover {
    display: block;
  }
  .shownav .right-button-group {
    display: none;
  }
}
