extends ../withsidebar
block main
  ol.breadcrumb
    li: a(href='/') 首页
    li: a(href='#', onclick="javascript:history.go(-2)") 某个角落
    li.active
      span #{userInfo.nickname}

  p
    span id: #{userInfo.id}
  p
    span #{userInfo.nickname}
